/*
 * Copyright (c) 2015-2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "tegra210-camera-e3333-a00.dtsi"

#define CAM0_RST_L	TEGRA_GPIO(S, 4)
#define CAM0_PWDN	TEGRA_GPIO(S, 7)
#define CAM1_RST_L	TEGRA_GPIO(S, 5)
#define CAM1_PWDN	TEGRA_GPIO(T, 0)

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)

/* camera control gpio definitions */

/ {

	gpio@6000d000 {
		camera-control-output-low {
			gpio-hog;
			output-low;
			gpios = <CAM0_RST_L 0 CAM0_PWDN 0
				 CAM1_RST_L 0 CAM1_PWDN 0>;
			label = "cam0-rst", "cam0-pwdn",
				"cam1-rst", "cam1-pwdn";
		};
	};

	host1x {
		i2c@546c0000 {
			tca6408_21: tca6408@21 {
				compatible = "ti,tca6408";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x21>;
				vcc-supply = <&en_vdd_cam>;
				tca6408_21_outlow {
					/*
					 * GPIO-0 : PWDN_CAM2
					 * GPIO-1 : RST_CAM2
					 * GPIO-2 : PWDN_CAM3
					 * GPIO-3 : RST_CAM3
					 * GPIO-4 : PWDN_CAM4
					 * GPIO-5 : RST_CAM4
					 * GPIO-6 : PWDN_CAM5
					 * GPIO-7 : RST_CAM5
					 */
					gpio-hog;
					gpios = <0 0 1 0 2 0 3 0 4 0 5 0 6 0 7 0>;
					output-low;
					label = "tca6408_21_outlow_0",
						"tca6408_21_outlow_1",
						"tca6408_21_outlow_2",
						"tca6408_21_outlow_3",
						"tca6408_21_outlow_4",
						"tca6408_21_outlow_5",
						"tca6408_21_outlow_6",
						"tca6408_21_outlow_7";
				};
				tca6408_21_outhigh {
					status = "disabled";
				};
				tca6408_21_input {
					status = "disabled";
				};
			};

			tca9548_77: tca9548@77 {
				compatible = "nxp,pca9548";
				reg = <0x77>;
				#address-cells = <1>;
				#size-cells = <0>;
				vcc-supply = <&en_vdd_cam>;
				skip_mux_detect;
				force_bus_start = <CAMERA_I2C_MUX_BUS(0)>;
				i2c@0 {
					reg = <0>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_a@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						reset-gpios = <&gpio CAM0_RST_L GPIO_ACTIVE_HIGH>;
						pwdn-gpios = <&gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
				i2c@1 {
					reg = <1>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_b@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						reset-gpios = <&gpio CAM1_RST_L GPIO_ACTIVE_HIGH>;
						pwdn-gpios = <&gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
				i2c@2 {
					reg = <2>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_c@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						pwdn-gpios = <&tca6408_21 0 GPIO_ACTIVE_HIGH>;
						reset-gpios = <&tca6408_21 1 GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
				i2c@3 {
					reg = <3>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_d@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						pwdn-gpios = <&tca6408_21 2 GPIO_ACTIVE_HIGH>;
						reset-gpios = <&tca6408_21 3 GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
				i2c@4 {
					reg = <4>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_e@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						pwdn-gpios = <&tca6408_21 4 GPIO_ACTIVE_HIGH>;
						reset-gpios = <&tca6408_21 5 GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
				i2c@5 {
					reg = <5>;
					i2c-mux,deselect-on-exit;
					#address-cells = <1>;
					#size-cells = <0>;
					ov5693_f@36 {
						clocks = <&tegra_car TEGRA210_CLK_CLK_OUT_3>;
						clock-names = "clk_out_3";
						clock-frequency = <24000000>;

						mclk = "clk_out_3";
						pwdn-gpios = <&tca6408_21 6 GPIO_ACTIVE_HIGH>;
						reset-gpios = <&tca6408_21 7 GPIO_ACTIVE_HIGH>;
						vana-supply = <&en_vdd_cam_hv_2v8>;
						vif-supply = <&en_vdd_cam>;
					};
				};
			};
		};
	};
};
