comment "Amlogic Wifi Driver"

menuconfig AM_WIFI
	boolean "WiFi support"
	default n
	help
		select y to support wifi

if AM_WIFI
config BCMDHD_USE_STATIC_BUF
	boolean "broadcom wifi static buff support"
	depends on AM_WIFI
	default n

config AM_WIFI_DUMMY
	tristate "Amlogic SDIO WiFi turn on and rescan module"
	depends on AM_WIFI
	default m

source "drivers/amlogic/wifi/rtl8189ES/Kconfig"
source "drivers/amlogic/wifi/rtl8189FS/Kconfig"
source "drivers/amlogic/wifi/rtl8192EU/Kconfig"
source "drivers/amlogic/wifi/rtl8192ES/Kconfig"
source "drivers/amlogic/wifi/rtl8723AU/Kconfig"
source "drivers/amlogic/wifi/rtl8723BS/Kconfig"
source "drivers/amlogic/wifi/rtl8811AU/Kconfig"
source "drivers/amlogic/wifi/rtl8812AU/Kconfig"
source "drivers/amlogic/wifi/rtl8xxx_CU/Kconfig"
source "drivers/amlogic/wifi/rtl8xxx_DU/Kconfig"
source "drivers/amlogic/wifi/rtl8xxx_EU/Kconfig"
source "drivers/amlogic/wifi/rtl8822BU/Kconfig"
source "drivers/amlogic/wifi/bcmdhd/Kconfig"

endif # AM_WIFI
