append_menu "Active energy metering IC"

config INA219
	tristate "TI INA219 bidirectional current/power monitor"
	depends on I2C
	help
	  TI INA219 is High- or Low-Side Measurement,Bidirectional
	  CURRENT/POWER MONITOR with I2C Interface.
	  Say Y here if you have INA219 hooked to a I2C bus.

config INA230
	tristate "TI INA230 bidirectional current/power monitor"
	depends on I2C
	help
	  TI INA230 is High- or Low-Side Measurement,Bidirectional
	  CURRENT/POWER MONITOR with I2C Interface.
	  Say Y here if you have INA230 hooked to a I2C bus.

config INA3221
	tristate "TI INA3221 3-Channel Shunt and Bus Voltage Monitor"
	depends on I2C
	help
	  TI INA3221 is Triple-Channel, High-Side Measurement, Shunt and Bus
	  Voltage Monitor with I2C Interface
	  Say Y here if you have INA3221 hooked to a I2C bus.

endmenu
