append_menu "Digital gyroscope sensors"

#
# Gyroscope drivers
#
# When adding new entries keep the list in alphabetical order

config NVS_A3G4250D
	tristate "STMicroelectronics gyroscope A3G4250D"
	depends on I2C && IIO_BUFFER && IIO_TRIGGERED_BUFFER && NVS_IIO
	help
	  Say yes here to build support for STMicroelectronics A3G4250D
	  gyroscope using NVS (NVidia Sensor framework).

endmenu
