if NEW_LEDS

config LEDS_CY8C
        tristate "LED support for CY8C4014 I2C LED"
        depends on LEDS_CLASS
        depends on I2C
        help
          This option enables support for CY8C4014 based LED through I2C.
          Driver support brightness control and hardware-assisted blinking.

endif
