#
# nvi-mpu driver for Invensense MPU devices and combos
#

config NVI_MPU_IIO
	tristate "Invensense MPU devices"
	depends on I2C && SYSFS && IIO && !INV_MPU
	select NVS
	select NVS_IIO
	default n
	help
	  This driver supports the Invensense MPU devices.
	  This includes MPU6050/MPU65XX/MPU9X50
	  This driver can be built as a module. The module will be called
	  nvi-mpu.

config NVI_MPU_INPUT
	tristate "Invensense MPU devices"
	depends on I2C && SYSFS && INPUT && !INV_MPU
	select NVS
	select NVS_INPUT
	default n
	help
	  This driver supports the Invensense MPU devices.
	  This includes MPU6050/MPU65XX/MPU9X50
	  This driver can be built as a module. The module will be called
	  nvi-mpu.

config NVI_MPU_RELAY
	tristate "Invensense MPU devices"
	depends on I2C && SYSFS && !INV_MPU
	select NVS
	select NVS_RELAY
	default n
	help
	  This driver supports the Invensense MPU devices.
	  This includes MPU6050/MPU65XX/MPU9X50
	  This driver can be built as a module. The module will be called
	  nvi-mpu.

