/*
 * Copyright (c) 2015-2018, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* camera control gpio definitions */
/ {
	host1x {
		vi@15700000 {
			num-channels = <6>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					e3322_vi_in0: endpoint {
						port-index = <0>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out0>;
					};
				};
				port@1 {
					reg = <1>;
					e3322_vi_in1: endpoint {
						port-index = <1>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out1>;
					};
				};
				port@2 {
					reg = <2>;
					e3322_vi_in2: endpoint {
						port-index = <2>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out2>;
					};
				};
				port@3 {
					reg = <3>;
					e3322_vi_in3: endpoint {
						port-index = <3>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out3>;
					};
				};
				port@4 {
					reg = <4>;
					e3322_vi_in4: endpoint {
						port-index = <4>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out4>;
					};
				};
				port@5 {
					reg = <5>;
					e3322_vi_in5: endpoint {
						port-index = <5>;
						bus-width = <2>;
						remote-endpoint = <&e3322_csi_out5>;
					};
				};
			};
		};

		nvcsi@150c0000 {
			num-channels = <6>;
			channel@0 {
				reg = <0>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in0: endpoint@0 {
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out0>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out0: endpoint@1 {
							remote-endpoint = <&e3322_vi_in0>;
						};
					};
				};
			};
			channel@1 {
				reg = <1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in1: endpoint@2 {
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out1>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out1: endpoint@3 {
							remote-endpoint = <&e3322_vi_in1>;
						};
					};
				};
			};
			channel@2 {
				reg = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in2: endpoint@4 {
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out2>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out2: endpoint@5 {
							remote-endpoint = <&e3322_vi_in2>;
						};
					};
				};
			};
			channel@3 {
				reg = <3>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in3: endpoint@6 {
							port-index = <3>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out3>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out3: endpoint@7 {
							remote-endpoint = <&e3322_vi_in3>;
						};
					};
				};
			};
			channel@4 {
				reg = <4>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in4: endpoint@8 {
							port-index = <4>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out4>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out4: endpoint@9 {
							remote-endpoint = <&e3322_vi_in4>;
						};
					};
				};
			};
			channel@5 {
				reg = <5>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						e3322_csi_in5: endpoint@10 {
							port-index = <5>;
							bus-width = <2>;
							remote-endpoint = <&e3322_imx219_out5>;
						};
					};
					port@1 {
						reg = <1>;
						e3322_csi_out5: endpoint@11 {
							remote-endpoint = <&e3322_vi_in5>;
						};
					};
				};
			};
		};
	};

	i2c@3180000 {
		tca9548@77 {
			i2c@0 {
				imx219_a@10 {
					devnode = "video0";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					dovdd-supply = <&en_vdd_cam>;
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_a";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out0: endpoint {
								port-index = <0>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in0>;
							};
						};
					};
				};
			};

			i2c@1 {
				imx219_b@10 {
					devnode = "video1";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_b";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out1: endpoint {
								port-index = <1>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in1>;
							};
						};
					};
				};
			};

			i2c@2 {
				imx219_c@10 {
					devnode = "video2";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_c";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out2: endpoint {
								port-index = <2>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in2>;
							};
						};
					};
				};
			};

			i2c@3 {
				imx219_d@10 {
					devnode = "video3";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_d";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out3: endpoint {
								port-index = <3>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in3>;
							};
						};
					};
				};
			};

			i2c@4 {
				imx219_e@10 {
					devnode = "video4";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_e";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out4: endpoint {
								port-index = <4>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in4>;
							};
						};
					};
				};
			};

			i2c@5 {
				imx219_f@10 {
					devnode = "video5";
					compatible = "nvidia,imx219";
					reg = <0x10>;

					physical_w = "5.095";
					physical_h = "4.930";

					sensor_model ="imx219";
					avdd-reg = "vana";
					dvdd-reg = "vdig";
					iovdd-reg = "dovdd";

					mode0 { // IMX219_MODE_3264X2464
						mclk_khz = "12000";
						num_lanes = "2";
						tegra_sinterface = "serial_f";
						phy_mode = "DPHY";
						discontinuous_clk = "yes";
						dpcm_enable = "false";
						cil_settletime = "0";

						active_w = "3264";
						active_h = "2464";
						pixel_t = "bayer_rggb";
						readout_orientation = "90";
						line_length = "3448";
						inherent_gain = "1";
						mclk_multiplier = "18.67";
						pix_clk_hz = "224000000";

						gain_factor = "16";
						framerate_factor = "1000000";
						exposure_factor = "1000000";
						min_gain_val = "16"; /* 1.0 */
						max_gain_val = "256"; /* 16.0 */
						step_gain_val = "1"; /* 0.125 */
						default_gain = "16";
						min_hdr_ratio = "1";
						max_hdr_ratio = "1";
						min_framerate = "1462526"; /* 1.462526 */
						max_framerate = "21000000"; /* 21.0 */
						step_framerate = "1";
						default_framerate = "21000000"; /* 21.0 */
						min_exp_time = "13"; /* us */
						max_exp_time = "683709"; /* us */
						step_exp_time = "1";
						default_exp_time = "2495"; /* us, 0x9bf */
						embedded_metadata_height = "2";
					};
					ports {
						#address-cells = <1>;
						#size-cells = <0>;

						port@0 {
							reg = <0>;
							e3322_imx219_out5: endpoint {
								port-index = <5>;
								bus-width = <2>;
								remote-endpoint = <&e3322_csi_in5>;
							};
						};
					};
				};
			};
		};
	};
};

/* camera control gpio definitions */
/ {
	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";

		/**
		* Physical settings to calculate max ISO BW
		*
		* num_csi_lanes = <>;
		* Total number of CSI lanes when all cameras are active
		*
		* max_lane_speed = <>;
		* Max lane speed in Kbit/s
		*
		* min_bits_per_pixel = <>;
		* Min bits per pixel
		*
		* vi_peak_byte_per_pixel = <>;
		* Max byte per pixel for the VI ISO case
		*
		* vi_bw_margin_pct = <>;
		* Vi bandwidth margin in percentage
		*
		* max_pixel_rate = <>;
		* Max pixel rate in Kpixel/s for the ISP ISO case
		*
		* isp_peak_byte_per_pixel = <>;
		* Max byte per pixel for the ISP ISO case
		*
		* isp_bw_margin_pct = <>;
		* Isp bandwidth margin in percentage
		*/
		num_csi_lanes = <12>;
		max_lane_speed = <1500000>;
		min_bits_per_pixel = <10>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		/**
		 * The general guideline for naming badge_info contains 3 parts, and is as follows,
		 * The first part is the camera_board_id for the module; if the module is in a FFD
		 * platform, then use the platform name for this part.
		 * The second part contains the position of the module, ex. “rear” or “front”.
		 * The third part contains the last 6 characters of a part number which is found
		 * in the module's specsheet from the vender.
		 */
		modules {
			module0 {
				badge = "e3322_bottomleft_A815P2";
				position = "bottomleft";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 30-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@0/imx219_a@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
			module1 {
				badge = "e3322_centerleft_A815P2";
				position = "centerleft";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 31-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@1/imx219_b@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
			module2 {
				badge = "e3322_centerright_A815P2";
				position = "centerright";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 32-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@2/imx219_c@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
			module3 {
				badge = "e3322_topleft_A815P2";
				position = "topleft";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 33-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@3/imx219_d@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
			module4 {
				badge = "e3322_bottomright_A815P2";
				position = "bottomright";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 34-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@4/imx219_e@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
			module5 {
				badge = "e3322_topright_A815P2";
				position = "topright";
				orientation = "1";
				drivernode0 {
					pcl_id = "v4l2_sensor";
					devname = "imx219 35-0010";
					proc-device-tree = "/proc/device-tree/i2c@3180000/tca9548@77/i2c@5/imx219_f@10";
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
				};
			};
		};
	};
};
