#include "gxbb_p200_2G.dts"

/{
	le-dt-id = "gxbb_p200_2G_minix_neo_u1";
	rtc {
		status = "disabled";
	};

	sd {
		sd { 
			voltage =   <&gpio_ao	GPIOAO_5	 GPIO_ACTIVE_HIGH>;
		};
	};

	amhdmitx: amhdmitx {
		pwr-ctrl = <&pwr_ctrl>;
	};
	
	pwr_ctrl: pwr_ctrl {
		pwr_5v_on = <&gpio	   GPIOY_5	   GPIO_ACTIVE_HIGH>;
		PWR_STBY_PWREN = <&gpio	   GPIOY_7	   GPIO_ACTIVE_HIGH>;
	};

	dwc2_a {
		port-type = <0>;	/** 0: otg, 1: host, 2: slave */
		port-id-mode = <0>; /** 0: hardware, 1: sw_host, 2: sw_slave*/
		gpio-vbus-power = "GPIOY_3";
		gpios = <&gpio	   GPIOY_3	   GPIO_ACTIVE_HIGH>;
		gpio-h = <&gpio	   GPIOY_4	   GPIO_ACTIVE_LOW>;
	};

	dummy_codec:dummy{
		status = "disabled";
	};

	aml_m8_snd {
		mute_gpio-gpios = <&gpio GPIOY_11 0>;

		codec0: codec0 {
			sound-dai = <&es8323>;
		};
	};

	adc_keypad{
		status = "disabled";
	};
};

&i2c_a {
	status = "okay";
	es8323: es8323@10 {
		#sound-dai-cells = <0>;
		compatible = "es, es8323";
		reg = <0x10>;
	};
/*p200_2g: audio chip, ok*/
};

&i2c_b {
	status = "okay";

	rtc_hym8563{
		compatible = "amlogic, rtc_hym8563";					  /** for driver probe, must have  */
		dev_name = "rtc_hym8563";
		status = "okay";		 
		reg = <0x51>;									 /** device i2c address, must have		*/
		interrupts = <0 64 1>;
		gpio-rtc-irq = <&gpio	   GPIOY_6	   GPIO_ACTIVE_HIGH>;
	};

	minix_mcu {
		compatible = "amlogic,minix_mcu";
		status = "okay";
		reg = <0x15>;
	};

	minix_mcu_isp{
		compatible = "amlogic,minix_mcu_isp";
		reg = <0x35>;
	};
};

&pinmux {
	audio_spdif_pins:audio_pin1{
		amlogic,setmask=<1 0x10200>;	/*spdif_out*/
	};
};
