/*
 * Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/ {
	p2888_shuntv_offset: shuntv-offset {
		offset = <0>;
		conditional_offset@0 {
			shunt_volt_start = <0xFFFFFFD8>;
			shunt_volt_end = <0xFFFFFFD8>;
			offset = <40>;
		};
	};

	i2c@c240000 {
		ina3221x_40: ina3221x@40 {
			compatible = "ti,ina3221x";
			reg = <0x40>;
			ti,trigger-config = <0x7003>;
			ti,continuous-config = <0x7c07>;
			ti,enable-forced-continuous;
			#address-cells = <1>;
			#size-cells = <0>;
			#io-channel-cells = <1>;
			channel@0 {
				reg = <0x0>;
				ti,rail-name = "GPU";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
			channel@1 {
				reg = <0x1>;
				ti,rail-name = "CPU";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
			channel@2 {
				reg = <0x2>;
				ti,rail-name = "SOC";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
		};
		ina3221x_41: ina3221x@41 {
			compatible = "ti,ina3221x";
			reg = <0x41>;
			ti,trigger-config = <0x7003>;
			ti,continuous-config = <0x7c07>;
			ti,enable-forced-continuous;
			#address-cells = <1>;
			#size-cells = <0>;
			#io-channel-cells = <1>;
			channel@0 {
				reg = <0x0>;
				ti,rail-name = "CV";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
			channel@1 {
				reg = <0x1>;
				ti,rail-name = "VDDRQ";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
			channel@2 {
				reg = <0x2>;
				ti,rail-name = "SYS5V";
				ti,shunt-resistor-mohm = <5>;
				shunt-volt-offset-uv = <&p2888_shuntv_offset>;
			};
		};
	};
};
