config PCIE_TEGRA_VNET
	bool "NVIDIA Tegra PCIe virtual net driver"
	help
	  Say Y here if you want to support Tegra PCIe endpoint device on
	  the host. This driver adds support in the host to communicate with
	  virtual network function driver available in Tegra PCIe endpoint.
