config PCIE_TEGRA
	tristate "Nvidia Tegra PCIe host controller (T19x)"
	depends on PCI
	depends on ARCH_TEGRA
	help
	 Enables support for the PCIe controller in the Tegra (19x) SoC.
	 This controller can work either as EP or RC. In order to enable
	 host-specific features PCIE_TEGRA_HOST must be selected and in order
	 to enable device-specific features PCIE_TEGRA_EP must be selected.
	 This uses the DesignWare core.

if PCIE_TEGRA

config PCIE_TEGRA_HOST
	tristate "PCIE TEGRA Host Mode"
	depends on PCI
	depends on PCI_MSI_IRQ_DOMAIN
	select PCIE_DW_HOST
	default y
	help
	 Say Y here if you want to enable root port mode functionality of the
	 PCIe controllers found in Tegra T19x SoC. Selecting this alone doesn't
	 enable the DMA functionality built into the root port

config PCIE_TEGRA_DW_DMA_TEST
	bool "DMA test framework"
	depends on PCIE_TEGRA_HOST
	help
	 Say Y here if you want to enable test framework for the DMA which is
	 integrated into root port. Please note that this framework should be
	 used only for testing purposes and enabling it would have security
	 implications. If you are not sure, select NO.

config PCIE_TEGRA_EP
	tristate "PCIE TEGRA Endpoint Mode"
	depends on PCI_ENDPOINT
	select PCIE_DW_EP
	help
	 Enables support for the PCIe controller in the Tegra (T19x) SoC
	 to work in endpoint mode.

endif
