append_menu "Magnetometer sensors"

#
# Magnetometer sensors
#
# When adding new entries keep the list in alphabetical order


config NVI_AK89XX
	tristate "Asahi Kasei AK89XX 3-Axis Magnetometer"
	depends on I2C && IIO_BUFFER && IIO_TRIGGERED_BUFFER && NVS_IIO
	help
	  Say yes here to build support for Asahi Kasei AK89XX 3-Axis
	  Magnetometer that can be connected via Invensense MPU.

	  To compile this driver as a module, choose M here: the module
	  will be called nvi-ak89xx.

endmenu
