config RTL8821AU
	tristate "Realtek 8821A USB WiFi"
	depends on USB
	default n
	---help---
	  This module adds support for USB wifi dongles based on Realtek
	  RTL8821AU wireless chipset.

	  This driver module will be called rtl8821au
	  Use m if unsure.
