config RTL8812AU
	tristate "Realtek 8812A USB WiFi"
	depends on USB
	default n
	---help---
	  This module adds support for USB wifi dongles based on Realtek
	  RTL8812AU wireless chipset

	  This driver module will be called rtl8812au.
	  Use m if unsure.
