if USB_NET_DRIVERS

config USB_RTL8152_SHIELD
        tristate "Realtek RTL8152/RTL8153 Based USB Ethernet Adapters For Shield"
        select MII
        help
          This option adds support for Realtek RTL8152 based USB 2.0
          10/100 Ethernet adapters and RTL8153 based USB 3.0 10/100/1000
          Ethernet adapters.

          To compile this driver as a module, choose M here: the
          module will be called r8152.

endif # USB_NET_DRIVERS
