if ARCH_TEGRA

config TEGRA_T19X_GRHOST
	tristate "Tegra 19x graphics host driver"
	depends on TEGRA_GRHOST && ARCH_TEGRA_19x_SOC
	default y
	help
	  Driver for the Tegra graphics host hardware.

config TEGRA_GRHOST_NVDLA
	bool "Tegra NVDLA support"
	depends on TEGRA_GRHOST && ARCH_TEGRA_19x_SOC
	default y
	help
	  Enables Deep Learning Accelerator engine support under nvhost
	  Say N here if not sure.

config TEGRA_GRHOST_PVA
	bool "Tegra PVA support"
	depends on TEGRA_GRHOST && ARCH_TEGRA_19x_SOC
	default y
	help
	  Enables Programmable Vision Accelerator engine support under nvhost
	  Say Y here if not sure.

config TEGRA_GRHOST_SLVSEC
	bool "Tegra SLVS-EC support"
	depends on TEGRA_GRHOST && ARCH_TEGRA_19x_SOC
	default y
	help
	  Enables SLVS-EC Camera interface support under nvhost
	  Say Y here if not sure.

config TEGRA_GRHOST_CAPTURE_SUPPORT
	bool "Tegra camera capture support module"
	depends on TEGRA_T19X_GRHOST && VIDEO_TEGRA_VI && TEGRA_GRHOST_ISP
	default y
	help
	  Enables support module for camera capture using VI and ISP
	  Say Y here if not sure.

config TEGRA_NVDLA_TRACE_PRINTK
	bool "Enable trace_printk debugging in NVDLA driver"
	depends on FTRACE_PRINTK && TEGRA_GRHOST_NVDLA

endif
