if VIDEO_V4L2

menu "NVIDIA overlay Encoders, decoders, sensors and other helper chips"
	visible if !MEDIA_SUBDRV_AUTOSELECT || COMPILE_TEST

config VIDEO_IMX185
	tristate "IMX185 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	This is a Video4Linux2 sensor-level driver for the Sony
	IMX185 camera sensor

	To compile this driver as a module, choose M here: the module
	will be called imx185.

config VIDEO_IMX477
        tristate "IMX477 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This driver supports IMX477 camera sensor from Sony

	  To compile this driver as a module, choose M here: the module
	  will be called imx477.

config VIDEO_IMX219
        tristate "IMX219 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This driver supports IMX219 camera sensor from Sony

	  To compile this driver as a module, choose M here: the module
	  will be called imx219.

config VIDEO_IMX268
	tristate "IMX268 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor-level driver for the Sony
	  IMX268 camera sensor

	  To compile this driver as a module, choose M here: the module
	  will be called imx268.

config VIDEO_IMX274
	tristate "IMX274 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor-level driver for the Sony
	  IMX274 camera sensor

	  To compile this driver as a module, choose M here: the module
	  will be called imx274.

config VIDEO_IMX318
	tristate "IMX318 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor-level driver for the Sony
	  IMX318 camera sensor

	  To compile this driver as a module, choose M here: the module
	  will be called imx318.

config VIDEO_LC898212
	tristate "LC898212 focuser support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This driver supports LC898212 camera focuser

	  To compile this driver as a module, choose M here: the module
	  will be called lc898212.

config VIDEO_OV5693
	tristate "OV5693 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor-level driver for the OmniVision
	  OV5693 camera.

	  To compile this driver as a module, choose M here: the module
	  will be called ov5693.

config VIDEO_OV9281
	tristate "OmniVision OV9281 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor driver for the OmniVision
	  OV9281 camera sensor, for use with the tegra isp.

	  To compile this driver as a module, choose M here: the module
	  will be called ov9281.

config VIDEO_OV10823
	tristate "OmniVision OV10823 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This is a Video4Linux2 sensor driver for the OmniVision
	  OV10823 camera sensor, for use with the tegra isp.

	  To compile this driver as a module, choose M here: the module
	  will be called ov10823.

config VIDEO_OV23850
	tristate "OmniVision OV23850 sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This driver supports OmniVision OV23850 camera sensor

	  To compile this driver as a module, choose M here: the module
	  will be called ov23850.

config I2C_IOEXPANDER_PCA9570
	tristate "nxp PCA9570 I2C IO Expander"
	help
	  If you say yes here you get support for the nxp PCA9570
	  I2C IO Expander devices.

	  To compile this driver as a module, choose M here: the module
	  will be called pca9570.

config VIDEO_TC358840
	tristate "Toshiba TC358840 decoder"
	depends on VIDEO_V4L2 && I2C && VIDEO_V4L2_SUBDEV_API
	select HDMI
	---help---
	  Support for the Toshiba TC358840 HDMI to MIPI CSI-2 bridge.

	  To compile this driver as a module, choose M here: the
	  module will be called tc358840.

config VIDEO_LT6911UXC
        tristate "Lontium LTX6911UXC HDMI to CSI bridge"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	---help---
	  This driver supports LT6911UXC bridge from Lontium

	  To compile this driver as a module, choose M here: the module
	  will be called lt6911uxc.

config I2C_IOEXPANDER_SER_MAX9295
	tristate "MAX9295 Serializer I2C IO Expander"
	help
	  If you say yes here you get support for the MAX9295 serializer
	  I2C IO Expander.

	  To compile this driver as a module, choose M here: the module
	  will be called max9295.

config I2C_IOEXPANDER_DESER_MAX9296
	tristate "MAX9296 Deserializer I2C IO Expander"
	help
	  If you say yes here you get support for the MAX9296 deserializer
	  I2C IO Expander.

	  To compile this driver as a module, choose M here: the module
	  will be called max9296.

config VIDEO_IMX390
	tristate "IMX390 camera sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API && I2C_IOEXPANDER_SER_MAX9295 && I2C_IOEXPANDER_DESER_MAX9296
	---help---
	  This is a Video4Linux2 sensor-level driver for the Sony
	  IMX390 camera sensor

	  To compile this driver as a module, choose M here: the module
	  will be called imx390.

endmenu

endif
