config NVS_DFSH
	tristate "Line discipline for NVS DFSH"
	depends on TTY && IIO_BUFFER && IIO_TRIGGERED_BUFFER && NVS_IIO
	default n
	help
	  Say Y here for TTY line discipline for NVS
	  DFSH stream.

	  This driver cannot be built as a module.
	  If unsure, say N.

