#
# Network device configuration
#

config TEGRA_HV_NET
	tristate "Tegra Hypervisor Network"
	depends on TEGRA_HV_MANAGER
	help
	  Add support for emulating a network device on tegra hypervisor systems.

	  To compile this driver as a module, choose M here: the
	  module will be called tegra_hv_net.
