/*
 * tegra194-super-module-e2614-p2888-0000.dtsi: E2600 DTSI file.
 *
 * Copyright (c) 2018, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <t19x-common-modules/tegra194-super-module-e2614.dtsi>

/ {
	i2c@31e0000 {
		i2cmux@70 {
			vcc-supply = <&p2822_vdd_3v3_cvb>;
			i2c@0 {
				tas2552.9-0040@40 {
					iovdd-supply = <&p2822_vdd_3v3_cvb>;
				};
				tas2552.9-0041@41 {
					iovdd-supply = <&p2822_vdd_3v3_cvb>;
                                };
			};
		};

	};

	plugin-manager {
		fragment-e2614-common@0 {
			overrides@10 {
				target = <&tegra_sound>;
				_overlay_ {
					nvidia,audio-routing =
						"x Headphone Jack",     "x HPO L Playback",
						"x Headphone Jack",     "x HPO R Playback",
						"x IN1P",               "x Mic Jack",
						"x IN2P",               "x Mic Jack",
						"x Int Spk",            "x SPO Playback",
						"x DMIC L1",            "x Int Mic",
						"x DMIC L2",            "x Int Mic",
						"x DMIC R1",            "x Int Mic",
						"x DMIC R2",            "x Int Mic",
						"y Headphone",          "y HPO L Playback",
						"y Headphone",          "y HPO R Playback",
						"y IN1P",               "y Mic",
						"z Headphone",          "z OUT",
						"z IN",                 "z Mic",
						"m Headphone",          "m OUT",
						"m IN",                 "m Mic",
						"n Headphone",          "n OUT",
						"n IN",                 "n Mic",
						"o Headphone",          "o OUT",
						"o IN",                 "o Mic",
						"a IN",                 "a Mic",
						"b IN",                 "b Mic",
						"c IN",                 "c Mic",
						"d IN",                 "d Mic",
						"d1 Headphone",         "d1 OUT",
						"d2 Headphone",         "d2 OUT";
				};
			};
		};
	};
};
