append_menu "Accelerometers"

#
# Accelerometer drivers
#
# When adding new entries keep the list in alphabetical order

config NVS_AIS328DQ
	tristate "STMicroelectronics accelerometer AIS328DQ"
	depends on I2C && IIO_BUFFER && IIO_TRIGGERED_BUFFER && NVS_IIO
	help
	  Say yes here to build support for STMicroelectronics AIS328DQ
	  accelerometer using NVS (NVidia Sensor framework).

endmenu
