#
# Backlight & LCD drivers configuration
#

if BACKLIGHT_LCD_SUPPORT

if BACKLIGHT_CLASS_DEVICE

config BACKLIGHT_DS1050
        tristate "Backlight driver for Maxim DS1050"
        depends on I2C
        help
          If you have a DS1050 for backlight, say Y to enable the
          backlight driver.

endif # BACKLIGHT_CLASS_DEVICE

endif # BACKLIGHT_LCD_SUPPORT
